<div class="flex flex-col md:flex-row gap-4">
  <div class="w-full md:w-1/5 mt-4">
    <h2 class="text-2xl font-bold">Coming Soon</h2>
    <p>Stay tuned for future updates!</p>
  </div>
  <div class="flex-grow w-full md:w-2/3 card bg-base-200 p-4 shadow-lg">
    <h2 class="text-2xl font-bold">About</h2>
    <br />
    <p>
      I am studying Computer Programming and Analysis at Seneca Polytechnic. I
      am passionate about creating user-friendly interfaces and learning more
      about responsive design, which I hope to explore in my web courses. My
      goal is to build interactive applications that enhance user experience and
      provide real benefits.
      <br />
      <br />
      My current academic and career goal is to secure a co-op opportunity where
      I can work on large, complex applications and utilize my technical skills.
      I aim to gain insight into the inner workings of a tech company, enhance
      my programming abilities, and gain a fresh perspective on software and web
      development.
      <br />
      <br />
      In my free time, I've gotten into DJing and recently started learning to
      mix with a controller I bought. I also love going to concerts and raves,
      which always energize me! One thing I want to get back into is working
      out. I've been inconsistent with the gym this past year, and I'm
      definitely feeling the effects.
    </p>
  </div>
</div>
